* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    background-image: url(../images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    width: 45%;
}

.my-form {
    box-shadow: 0px 0px 9px 8px rgba(0,0,0,0.32);
    padding: 20px;
    width: 60%;
}

.story {
    background-color: rgba(255,255,255,0.8);
    width: 40%;
    padding: 10px;
}

.story img {
    width: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

form input {
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    text-indent: 40px;
    width: 100%;
}

form button {
    border: none;
    border-radius: 20px;
    color: white;
}

.inputs {
    position: relative
}

.inputs i {
    position: absolute;
    top: 35%;
    left: 5%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange;
}

.accounts {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .content {
        width: 80%;
    }
    .accounts a {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .story {
        display: none;
    }

    .my-form {
        width: 100%;
    }

    .content {
        width: 80%;
    }

    .accounts a {
        font-size: 12px;
    }
}